.trustedBy {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
    color: #b5b6ba;
    font-weight: 500;
    font-size: 20px;
    height: 100px;

}